<div
  data-test-app-card-deployment
  class="app-card-item app-card-item--latest"
>
  <LinkTo @route="workspace.projects.project.app.deployment" @models={{array @model.id }}>
    <p class="app-card-item__top-line">
      <b class="badge badge--version">v{{@model.sequence}}</b>
      <code>{{truncate @model.id 8 false}}</code>
      {{#if (not-eq @model.status.state 2)}}
        <OperationStatusIndicator @status={{@model.status}} />
      {{/if}}
    </p>
    <small class="app-card-item__second-line">
      <Pds::Icon @type={{icon-for-component @model.component.name}} class="icon" />
      <StatusReportIndicator @statusReport={{@model.statusReport}} />
    </small>
  </LinkTo>
  {{#if @model.preload.deployUrl}}
    <ExternalLink
      href="https://{{@model.preload.deployUrl}}"
      title="https://{{@model.preload.deployUrl}}"
      class="button button--secondary"
    >
      <Pds::Icon @type="exit" class="icon" />
    </ExternalLink>
  {{/if}}
</div>
